*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo{
    max-width: 139px;
}

.links{
    display: flex;
    gap: 32px;
}

.links a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.btn{
  background-color: #30B868;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
  max-width: 164px;
}

.btn:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.1);
}

#banner{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.early-access{
    display: flex;
    background: rgba(255, 255, 255, 1);
    max-width: 229px;
    justify-content: center;
    border-radius: 100px;
    color: #30B868;
}





