*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

    
    .inter{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    }
    .white-color{
        color: white;
    }
    .green-color{
        color: #30B868;
    }

    .image{
        background-color:rgba(249, 85, 85, 1);
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Main style */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.logo{
    max-width: 139px;
}

.links{
    display: flex;
    gap: 32px;
}

.links a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.btn{
  background-color: #30B868;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}

.btn1{
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover, .btn1:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.1);
}

#banner{
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    
}

.content-box{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-box .early-access{
    display: flex;
    gap: 1.5px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    max-width: 229px;
    justify-content: center;
    border-radius: 100px;
    color: #30B868;
    line-height: 19px ;
    font-size: 16px;
}

#banner .structured-thinking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    font-size: 45px;
}

#banner .structured-thinking .para{
    color: white;
    font-size: 16px;
    line-height: 24px;
    max-width: 660px;

}

.content-box .button{
    display: flex;
    gap: 16px;
    border-radius: 4px ;
    padding-bottom: 180px;
    width: auto 500px;
}

.content-box .button button{
    display: flex;
    gap: 10px;
    width: auto 251px;
}

#notes-section{
    display: flex;
    flex-direction: column;
    gap: 44px;
    justify-content: center;
    align-items: center;
    border: 1.9px solid red;
    padding: 0 120px;
}

#notes-section .heading{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding-top: 68px;
}

#notes-section .heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

#notes-section .heading p{
    font-size: 16px;
    line-height: 20px;
}

#notes-section .cards{
    display: flex;
    gap: 24px;
}

#notes-section .cards .card1{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 69.5px 24px;
}

#notes-section .cards .card1 .para{
    text-align: center;
}









